@inherits LayoutComponentBase

<div class="d-flex vh-100">
    <NavMenu />

    <main class="flex-grow-1 overflow-auto bg-light">
        <div class="container-fluid py-3">
            @Body
        </div>
    </main>
</div>
